*{
  margin:0;
  padding:0;
}
/* reset */

body{
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


#conteneur{
  width:100%;
}

video {
  position:absolute;
  width:1300px;
  z-index: 0;
}

#logo{
  position:absolute;
  float:left;
  margin:20px 0px 0px 20px;
  width:7%;
  z-index:2;
}

nav {
  margin:10px 0px 0px 900px;;
  position:relative;
  float:right;
  display:flex;
  color:#FFF;
  z-index:5;
}

li{
  padding:0px 8px 5px 9px;
  display:inline-block;
}

#hote{
  padding:8px 8px 8px 8px;
  border-radius:4px;
  border:2px solid #FFF;
}

#hote:hover{
  background-color:rgba(0, 0, 0, 0.5);
}

#middle{
  position:absolute;
  text-align: center;
  padding:auto;
  margin:260px 0px 0px 0px;
  text-align:center;
  color:#FFF;
  z-index:5;
}

h1{
text-transform: uppercase;
font-size:60px;
}

a{
  text-decoration: none;
  color:#FFF;
}

#bouton_mode{
  width:130px;
  text-align: center;
  margin:15px 400px 0px 540px;
  padding:12px 9px 8px 12px;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius:4px;
  z-index:5;
}

#fond_formulaire{
  background-color: rgba(0,0,0,0.6);
  margin:110px 0px 0px 0px;
  opacity:0.5;
  height:211px;
  width:1300px;
  z-index:0;
}
#formulaire{
  width:1250px;
  position:absolute;
  margin-top:600px;
  z-index:5;
}

fieldset {
  border: 1px solid #c4c4c4;
  width: 58%;
  margin: 0 auto;
  padding: 0 0 0 10px;
  background-color: white;
  border-radius: 2px;
}

input {
  border: 0;
  color: #82888A;
  font-size: 0.9em;
  font-family: inherit;
  margin: 0;
  height: 43px;
}

select {
  border: 0;
  color: #82888A;
  font-size: 0.9em;
  font-family: inherit;
  background-color: transparent;
  margin: 0;
}

#rechercher {
  background-color: #FF5A5F;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  width: 120px;
  float: right;
}

.rechercher{
	width:120px;
	height:33px;
	margin-top:17px;
	padding-top:10px;
	border-radius:3px;
	text-align:center;
  border-bottom-color: #e00007;
  background-color: #e00007;
  color: #fff;
}

.rechercher:hover{
	background-color:#ff5a5f;
	z-index:1;
}

#partie2{
  background-color:#f5f5f5;
  height:1200px;
}

aside{
  position:absolute;
  width:350px;
  height:247px;
  padding:20px 30px 0px 50px;
  margin:800px 200px 100px 200px;
  background-color: #FFF;
}
h3{
  position:absolute;
	font-weight: bold;
  font-size:30px;
  color:#565a5c;
}
#argent{
  margin:110px 80px 0px 0px;
  font-size:16px;
  color:#565a5c;
}

#bouton_partie2{
  position: absolute;
  width:250px;
  z-index:5;
	background-color:#004f58;
	padding:10px 10px 10px 10px;
	margin:30px 80px 0px 0px;
	border-radius:2px;
	text-align:center;
	color:#fff;
}

#bouton_partie2:hover{
  position: absolute;
	border-radius:2px;
	background-color:#007a87;
}

#image_partie2{
  margin:800px 200px 100px 600px;
  width:400px;
  position:absolute;
  float:right;
  z-index:5;
}

.box{
	z-index:5;
	position:absolute;
	height:220px;
	width:300px;
	margin:10px 10px 10px 10px;
	padding:20px 0px 10px 0px;
	display: flex;
  margin:800px 20px 0px 10px;
}

/* */
